.bgContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1;
}

.video {
    /* width: 100%; */
    height: 100vh;
}

h1.title {
    font-size: 70px;
    font-weight: 700;
    color: #FFD099;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
}
  
h2.text {
    font-size: 30px;
    font-weight: 700;
    color: #FF9209;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
}


.container-login {
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFD099;
    background-color: rgba(255, 255, 253, .4);
    z-index: 2;
    border-radius: 25px;
    gap: 10px;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
  
.button-login {
  border: 1px solid #FFD099;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  background-color: #FFD099;
  margin-top: 4px;
}

.button-login:hover {
  background-color: #FFD099;
}

.button-login:focus {
  border-color: #FFD099;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.input-login {
    border-radius: 7px;
    height: 25px;
    transition: all 0.3s;
    outline: none;
    background-color: lightgray; 
    border: 1px solid #ccc;

}

.input-login:focus {
    transform: scale(1.02);
    transform: translateY(-2px);
    background-color: white; 
}

.input-login::placeholder {
    padding-left: 5px;
}


.link-newacc {
    text-decoration: none;
    transition: transform 0.3s;
    color: #FFF;
    font-size: 18px;
}

.link-newacc:hover {
    transform: translateY(-4px);
}
