.container-title-userhome {
    background-color: #F8F0E5;
    color: #0F2C59;
    padding: 10px;
}
.title-userhome {
    margin-left: 20px;
    font-size: 40px;
    font-weight: 700;
    color: #0F2C59;
}

.user-card {
    background-color: #EADBC8;
    padding: 25px;
}

.container-userhome {
    background-color: #EADBC8;
    height: 100vh;
}